div[data-ref="logseq-live-math"] > .ls-ui-float-content {
  background-color: var(--ls-secondary-background-color);
}

div[data-ref="logseq-live-math"] math-field {
  outline: none;
  border-radius: 0;
  color: var(--ls-primary-text-color);
  background-color: var(--ls-secondary-background-color);
}
